@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Details for @Html.DisplayFor(model => model.FirstName)
    @Html.DisplayFor(model => model.LastName)
</h1>
<div class="row">
    <div class="col-6">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.AccountBalance)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.AccountBalance)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.RegularPickUpDay)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.RegularPickUpDay)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.NextPickUp)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.NextPickUp)
            </dd>
            <dt class="col-sm-6">
                <p>Address</p>
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Street)
                @Html.DisplayFor(model => model.City)
                @Html.DisplayFor(model => model.State)

            </dd>
        </dl>
    </div>
    <div id="pickupMap" class="col-6 google-map" styles="width: 80%; height: 600px;"></div>
    <script>
        function myMap() {
            const latAndLong = { lat: @Model.Latitude, lng: @Model.Longitude };

            var mapProp = {
                center: latAndLong,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                
            };

            var map = new google.maps.Map(document.getElementById("pickupMap"), mapProp);

            var marker = new google.maps.Marker({
                position: latAndLong,
                map: map,
                title: '@(Model.FirstName)',
                visible: true
            });
        };
    </script>
</div>
<div>
    @if (this.User.IsInRole("Customer"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    @if (this.User.IsInRole("Employee"))
    {
        <a asp-controller="Employee" asp-action="Index">Back to List</a>
    }
</div>
<script src=@("https://maps.googleapis.com/maps/api/js?key=" + TrashCollector.Utilities.APIs.MapsKey + "&callback=myMap") async></script>