@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    @*<img src="@Model.MapLocation" alt="Static Map Image" />*@

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class="col-sm-2">
            <p>Your next pick-up:</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NextPickUp)
        </dd>
    </dl>
</div>
<div id="pickupMap" class="google-map" styles="width: 80%; height: 600px;"></div>
<script>
    function myMap() {
        const latAndLong = { lat: @Model.Latitude, lng: @Model.Longitude };
        var mapProp = {
            center: latAndLong,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("pickupMap"), mapProp);

        var market = new google.maps.Marker({
            position: latAndLng,
            map: map,
            title: @(Model.FirstName + " " + Model.LastName + "s' address"),
            visible: true
         });
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src=@("https://maps.googleapis.com/maps/api/js?key=" + TrashCollector.Utilities.APIs.MapsKey + "&callback=myMap)")></script>